h1{
    font-size: 30px;
    color: red;
}

c-css-child-component{
    display: block;
    background-color: rgb(18, 19, 18);
    color: rgb(54, 22, 235);
}p{
    font-size: 20px;
    color: yellow;
}